

/* Height */

.mh-25{
	max-height: 25px;
}

.mh-30{
	max-height: 30px;
}


/* Colors */

.fontGray{
	color: #414b56;
} 


/* Navbar */

.vCar-Logo{
	height: 40px;
}

.addBtnMobile{
	font-size: 15px;
}

/* Page style */

.contentResponsive{
	min-height: calc(100% - 120px);
}

.searchBoxMobile{
	font-size: 17px;
}

.ownerLabel{
	top: 0px;
	left: 0px; 
	z-index: 100; 
	color: #fff;
										
}

.modifyIconsLabel{
	font-size: 22px;
}

.modifyIconsLabel-position{
	top: 0px;
	right: 0px; 
	z-index: 100;
}

.infoBtnDesktop{
	bottom: 45px;
	right: 0px; 
	z-index: 100; 
	border-radius: 4%;
	margin-right: 16px;
}

.modal-header-newStyles{
	border-bottom: none; 
	padding-bottom: 0px;
	padding-top: 24px;
	padding-right: 45px;
}

/* Footer */

.footerDiv{
	bottom: 0; 
	background: #414b56;
	clear: both;
}

.footerLogo{
	font-size: 22px;
}

.footerBtn{
	font-size: 16px;
}

.footerEachBtn{
	text-decoration: none;
}



/* Media queries for responsive */


/* for xs only */


@media (max-width: 576px){

	.vCar-Logo {
	    height: 35px;
	}
  	
  	.modifyIconsLabel-position {
	    padding-right: 20px !important;
	}

	.modifyIconsLabel{
	    font-size: 20px;
	}

	.footerLogo{
	font-size: 20px;
	}

}


/* for sm  */

@media (min-width:577px) and (max-width: 767px){



}

/* for md  */

@media (min-width:768px) and (max-width: 991px){
  
   
}

/* for lg   */

@media (min-width:992px) and (max-width: 1199px){
 
}

/* for xl  */

@media (min-width:1200px){

  
}





